/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    background: #000;
    margin: 0;
    padding: 0;
}
.form {
    text-align: center;
    background: #fff;
    width: 100%;
    border-bottom: 10px solid gold;
    margin-bottom: 10px;
    padding: 10px;
}
.container {
    width: 960px;
    min-height: 600px;
    background: #000;
    margin: 0 auto;
    text-align: center;
}
img {
    border: 10px solid gold;
    max-width:600px;
}